.ps1{
    text-align: center;
}
.ps2{
    color:grey;
}

#enter{
    position: absolute;
    bottom: 62px;
    left: 13%;
    color: blue;
}
#password1{
   
    font-size: 32px;
    border: none;
    border-bottom: 3px solid blue;
    width: 526px;
    outline: none;
}


.form-el{
    position: relative;
    top: 50px;
    width: 714px;
    margin: auto;
}

#eyes{
    position: absolute;
    right: 14%;
    top: 16px;
    color: blue;
    font-size: 20px;
    
  
}

#char{
    color: grey;
}
